<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <label>Enter First Name : </label>
        <input type="text" name="firstname">
        <label>Enter Last Name : </label>
        <input type="text" name="lastname">
        <label>Password : </label>
        <input type="password" name="password">
        <label for="Sex">Sex</label>
        <input type="radio" value="sex">
        <label for="male">Male</label>
        <input type="radio" value="sex">
        <label for="female">Female</label>
        <label>About you</label>
        <textarea name="aboutyou"></textarea>
        <input type="submit" value="Register">
    </form>
</body>
</html>